<!-- Modal -->
		  <div class="modal fade" id="no_custID_" role="dialog" >
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title"></h4>
			        </div>
			        
			        <div class="modal-body">
			        	<div id='Customer'>
			        		
			        		<h3>Enter search string</h4>
			        		<input id='searchInput' type="text" name="search" value=''>
			        		
			        		<p id='searchName'>Results</p>
			        		<h4></h4>
			        		
			        		<button id='check'>check in previous payments</button>
			        		<h5><table><thead></thead><tbody></tbody></table></h5>
			        		<p id='custID_display'></p>
			        		<button id='update' hidden>Update?</button>
			        		<!--
			        		<form id='custID_form' action="">
			        			<input type="text" name="custID">
			        			<input type="submit" value="Submit form">
			        		</form>
			        	-->
			        	</div>
			        	
			        </div>
			        
			        <div class="modal-footer">
			          <button class="btn" id='delete' hidden>delete payment</button>	
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			        </div>
		      </div>
		      
		    </div>
		  </div>
