<!DOCTYPE html>
<html>

<head>
      <title>File Download</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
   <body>
   	<input type="file" id="fileLoader" accept='.csv' />
   </body>
   <script>
   
       $('#fileLoader').change(function(e){
         console.log('in fileLoader');
         var fileName=e.target.files[0].name;
         console.log(fileName);
         $.get('/file',{fileName: fileName},function(data){
            console.log('in get data:::::');
            window.location.replace('http://localhost:3000/csv/?fileName='
                          +fileName);
         })
       });
   

   </script>
</html>